


<!--<nav>-&#45;&#45;<br /><a href="/about">About this blog</a></nav> -->
<!--</body>  -->
<!--</html>-->

<!--<div class="medium-3 columns" data-sticky-container>-->
    <!--<div class="sticky" data-sticky data-anchor="foo">-->
        <!--<h4>Navigate</h4>-->
        <!--<ul>-->
            <!--<li><a href="/about">About Me</a></li>-->
            <!--<li><a href="/contact">Contact</a></li>-->
            <!--<li><a href="/data">Data Visualizations</a></li>-->
            <!--<li><a href="/coding">Coding Projects</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div class="medium-3 columns" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="content">
        <h4>Navigate</h4>
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/data">Data Visualizations</a></li>
            <li><a href="/coding">Coding Projects</a></li>
        </ul>

        <!--<h4>Authors</h4>-->
        <!--<ul>-->
        <!--<li><a href="#">Skyler</a></li>-->
        <!--<li><a href="#">Jesse</a></li>-->
        <!--<li><a href="#">Mike</a></li>-->
        <!--<li><a href="#">Holly</a></li>-->
        <!--</ul>-->

    </div>
</div>

</div>

<!--<div class="row column">-->
    <!--<ul class="pagination" role="navigation" aria-label="Pagination">-->
        <!--<li class="disabled">Previous</li>-->
        <!--<li class="current"><span class="show-for-sr">You're on page</span> 1</li>-->
        <!--<li><a href="#" aria-label="Page 2">2</a></li>-->
        <!--<li><a href="#" aria-label="Page 3">3</a></li>-->
        <!--<li><a href="#" aria-label="Page 4">4</a></li>-->
        <!--<li class="ellipsis"></li>-->
        <!--<li><a href="#" aria-label="Page 12">12</a></li>-->
        <!--<li><a href="#" aria-label="Page 13">13</a></li>-->
        <!--<li><a href="#" aria-label="Next page">Next</a></li>-->
    <!--</ul>-->
<!--</div>-->


<hr>

<footer class="row column">
    <ul class="menu">
        <li>J A Brown</li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="float-right">Copyright 2016</li>
    </ul>
</footer>

<!--TEST-->

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<!--TEST-->
<!--<script type="text/javascript" src="./scripts/app.js"></script>-->




<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>


<!--&lt;!&ndash;TEST&ndash;&gt;-->
<!--<script type="text/javascript" src="../scripts/app.js"></script>-->


<script>
    $(document).foundation();
</script>


</body>

</html>