<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>{{#if title }}{ {title }} - {{/if}}{{ site.name }}</title>-->
    <!--<meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />-->
  <!--</head>-->
  <!--<body>-->

<!DOCTYPE html>
  <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<title>{{#if title }}{ {title }} - {{/if}}{{ site.name }}</title>-->

    <title>J A Brown | Welcome </title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>Foundation | Welcome</title>-->

    <!--<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">-->
    <link rel='stylesheet' href='../stylesheets/normalize.css' />
    <link rel='stylesheet' href='../stylesheets/foundation.css' />
    <link rel='stylesheet' href='../stylesheets/style.css' />

    <!--&lt;!&ndash;TEST&ndash;&gt;-->
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <!--&lt;!&ndash;<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;TEST&ndash;&gt;-->
    <!--<script type="text/javascript" src="../scripts/app.js"></script>-->

  </head>


  <body>
  <!--&lt;!&ndash; Start Top Bar &ndash;&gt;-->
  <!--<div class="top-bar head-color">-->
    <!--<div class="top-bar-right ">-->
      <!--&lt;!&ndash;<ul class="menu">&ndash;&gt;-->
      <!--<ul class="vertical medium-horizontal menu">-->
        <!--<li class="head-color"><a href="/about">About Me</a></li>-->
        <!--<li class="head-color"><a href="/contact">Contact</a></li>-->
        <!--<li class="head-color"><a href="/data">Data Visualizations</a></li>-->
        <!--<li class="head-color"><a href="/coding">Coding Projects</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; End Top Bar &ndash;&gt;-->


  <!--<div class="callout large primary " data-sticky-container>-->
    <!--<div class="row column text-center  sticky" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">-->
      <!--<h1>Jennifer Brown</h1>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="callout large primary " >-->
    <!--<div class="row column text-center  " >-->
      <!--<h1>Jennifer Brown</h1>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div data-sticky-container>-->
    <!--<div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">-->
      <!--<div class="title-bar-left">&lt;!&ndash; Content &ndash;&gt;</div>-->
      <!--<div class="title-bar-right">&lt;!&ndash; Content &ndash;&gt;</div>-->
    <!--</div>-->
  <!--</div>-->


  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">J A Brown</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/about">About Me</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/data">Data Visualizations</a></li>
        <li><a href="/coding">Coding Projects</a></li>
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->

  <div class="callout large primary">
    <div class="row column text-center">
      <h1>J A Brown</h1>
    </div>
  </div>


  <div class="row" id="content">
    <div class="row medium-8 large-7 columns">
