{{> header }}
	<header>
    <a class="back-to-index" href="/">&larr; Index</a>
  </header>


    <!--<article>-->
      <!--<h1>{{ title }}</h1>-->
      <!--<div class="meta">-->
          <!--{{#if date}}Published: {{ date }}{{/if}}-->
      <!--</div>-->
      <!--{{{ contents }}}-->
    <!--</article>-->


<!--<div class="blog-post">-->
<article class="medium-8 columns">
    <h3>{{ title }} </h3>
    <div class="meta">
        {{#if date}}Published: {{ date }}{{/if}}
    </div>

    {{{ contents }}}

    <div class="callout">
        <ul class="menu simple">
            <li><a href="#">Author: Jennifer Brown</a></li>
            <li><a href="#">Comments: 3</a></li>
        </ul>
    </div>
</article>
<!--</div>-->


{{> footer }}