{{> header }}

    <!--<h1>{{ site.name }}</h1>-->

<!--<div class="medium-8 columns">-->
    <!--<div class="blog-post recent">-->
    <!--&lt;!&ndash;<div class="recent">&ndash;&gt;-->
    <!--{{#each articles }}-->
      <!--&lt;!&ndash;<li>&ndash;&gt;-->
        <!--<div class="title"><a href="{{ path }}">{{ title }}</a></div>-->
        <!--<div class="date">{{ date }}</div>-->

        <!--&lt;!&ndash;SHOW THE FIRST BIT OF TEXT FROM BLOG POST!!&ndash;&gt;-->
        <!--&lt;!&ndash;OR AN IMAGE / VISUALIZATION&ndash;&gt;-->
        <!--<p> {{blurb}}</p>-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->


    <!--{{/each}}-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->



{{#each (limit collections.articles this.pagination.end this.pagination.start)}}
<li class="post">
    <h2 class="entry-title">
        <a href="{{ this.path }}" rel="bookmark">{{ this.title }}</a>
    </h2>
    <article class="entry-summary">
        {{{ this.excerpt }}}
    </article>
    <footer>

        <a href="{{ this.path }}" class="button">Read More</a>
    </footer>
</li>
{{/each}}

{{#if this.pagination}}
<nav class="pagination">
    {{#if this.pagination.next}}
    <a href="{{this.pagination.next.path}}">&lt; Prev</a>
    {{/if}}

    {{#if this.pagination.prev}}
    <a href="{{this.pagination.prev.path}}">Next &gt;</a>
    {{/if}}
</nav>
{{/if}}


{{> footer }}